
<div class="row mb-5 border-bottom pb-3">
  <div class="col-9">
    <h4>{{job["title"]}}</h4>
    <div><b>Location:</b>{{job["location"]}}</div>
    {% if "Salary" in job %}
    <div><b>Salary:</b>{{job["Salary"]}}</div>
    {% endif %}
  </div>
  <div class="col-3">
    <a href="mailto:ayushratan.974@gmail.com?subject=Apply%20for%20{{job['title']}}&body=Name%3A%20%3CEnter%20you%20name%20here%3E%0D%0AResume%20Link%3A%20%3CEnter%20link%20here%3E%0D%0ALinkedin%20Profile%3A%20%3CEnter%20link%20here%3E%0D%0A" type="button" class="btn btn-outline-primary">Apply</a>
  </div>
  </div>